<app-nav-details></app-nav-details>
<app-nav></app-nav>


<div class="container" *ngIf="ticket">
<table class="table-borderless" align="center">

  <tr>
    <th colspan="6" style="background-color:#241F61;color:white;" >
      <h3>All Ticket for {{event.nameevent}} </h3>
    </th>
  </tr>

  <tr style="background-color:#32A9EE;color:white;">
    <th>#</th>
    <th>UserName</th>
    <th>FirstName</th>
    <th>EventName</th>
    <th>Approve</th>
    <td>UnApprove</td>
  </tr>

  <tr *ngFor="let t1 of ticket">
    <td>{{t1.ticketid}}</td>
    <td>{{t1.uid.username}}</td>
    <td>{{t1.uid.firstname}}</td>
    <td>{{t1.eid.nameevent}}</td>
    <td> <button type="button" class="btn btn-info btn-circle btn-lg"  [disabled]="present(t1) || t1.ticketcancel == true"(click)="presentTicket(t1.ticketid)"><i class="fas fa-check"></i></button></td>
    <td> <button type="button" class="btn btn-danger btn-circle btn-lg" [disabled]="!present(t1) || t1.ticketcancel == true"(click)="unpresentTicket(t1.ticketid)"><i class="fas fa-ban"></i></button></td>
  </tr>
</table>
</div>
