<app-nav></app-nav>
<p>
  <a *ngIf="admin" routerLink="/events"><button class="btn btn-success">Event List</button></a>
</p>
<p>
  <a *ngIf="admin||org" routerLink="/addEvent"><button class="btn btn-success">ADD Event</button></a>
</p>
<p>
  <a routerLink="/activeEvent"><button class="btn btn-success">Event Active</button></a>
</p>
<p>
  <a *ngIf="org" routerLink="/myevent"><button class="btn btn-success">My event</button></a>
</p>
<p>
  <a *ngIf="admin" routerLink="/unapproved"><button class="btn btn-success">Un Active Event</button></a>
</p>
<p>
  <a *ngIf="org" routerLink="/ticketsforevent"><button class="btn btn-success">tickets for event</button></a>
</p>
<app-nav-details></app-nav-details>
