<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<body class="hm-gradient">

<main>

  <div class="container mt-4">



    <div class="card mb-4">
      <div class="card-body">
        <table class="table table-hover">
          <thead class="mdb-color darken-3">
          <tr class="text-white">
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Country</th>
            <th>City</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>USA</td>
            <td>New York</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>



  </div>
</main>

</body>
