<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>User Comment Example</h3>
    </div>
    <!-- /col-md-12 -->
  </div>
  <!-- /row -->
  <div class="row">
    <div class="col-md-1">
      <div class="thumbnail">
        <img class="img-fluid user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
      </div>
      <!-- /thumbnail -->
    </div>
    <!-- /col-md-1 -->
    <div class="col-md-5">
      <div class="card">
        <div class="card-header"> <strong>myusername</strong>  <span class="text-muted">commented 5 days ago</span>
        </div>
        <div class="card-body">Panel content</div>
      </div>
    </div>
  </div>
</div>
