<app-nav-details></app-nav-details>
<app-nav></app-nav>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<div class="row" >
  <div class="col-md-4">
    <h1>user list</h1>
    <ul style="list-style-type:disc" *ngFor="let user of users$ " class="list-group-item" (click)="getUser(user)">
        <li>{{user.userid}} - {{user.firstname}}</li>
      </ul>
  </div>

      <div class="col-md-4">
        <app-user-detail [user]="currentUser"></app-user-detail>
      </div>

    </div>
