<app-nav-details></app-nav-details>
<app-nav></app-nav>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<!--<div class="row" >-->
  <!--<div class="col-md-6">-->
    <!--<h1>My Ticket</h1>-->
    <!--<ul style="list-style-type:disc" *ngFor="let ticket of tikets$ " class="list-group-item" (click)="getTicket(ticket)">-->
      <!--<li>{{ticket.ticketid}} - {{ticket.eventname}}</li>-->
    <!--</ul>-->
  <!--</div>-->

  <!--<div class="col-md-6">-->
  <!--<app-ticket-detail [ticket]="currentTickets"></app-ticket-detail>-->
  <!--</div>-->

<!--</div>-->
<div style="background-color: rgba(256, 256, 256, 0.8); ">
<div class="ticket" *ngFor="let ticket of tikets$" (click)="getTicket(ticket)">
  <div class="stub">

    <div class="top"> <span class="admit" [routerLink]="['/eventinfo', ticket.eid.eventid ]" >{{ticket.eid.nameevent}}</span>
      <span class="line"></span>
      <span class="num">

        Booking Date :<br>

        <span>{{ticket.date}}</span>
</span>
    </div>
    <div class="number">{{ticket.ticketid}}</div>
    <div class="invite">Number Your Ticket</div>
  </div>
  <div class="check">
    <div class="big">Your
      <br>Ticket</div>
    <div class="number">
    <div  class="rating">
      <input type="radio"  #rate5 value="5" /><label  title="Meh" (click)="sendRate(ticket.ticketid, rate5)">5 stars</label>
      <input type="radio"  #rate4 value="4" /><label  title="Kinda bad" (click)="sendRate(ticket.ticketid, rate4)" >4 stars</label>
      <input type="radio"  #rate3 value="3" /><label  title="Kinda bad" (click)="sendRate(ticket.ticketid, rate3)">3 stars</label>
      <input type="radio"  #rate2 value="2" /><label  title="Sucks big tim" (click)="sendRate(ticket.ticketid, rate2)">2 stars</label>
      <input type="radio"  #rate1 value="1" /><label  title="Sucks big time" (click)="sendRate(ticket.ticketid, rate1)">1 star</label><br>
      <h6 style="float: right">({{ticket.ticketrate}})</h6>
    </div>
    </div>

    <div class="info">
      <section>
        <div class="title">Date</div>
        <div style="color: white">{{ticket.dateevent}}</div>
      </section>
      <section>
        <div class="title">Time</div>
        <div style="color: white">{{ticket.eid.eventtime}}</div>
      </section>
      <section>
        <div class="title">Location</div>
        <div style="color: white">{{ticket.eid.eventcity}}-{{ticket.eid.eventstreet}}</div>

      </section>
      <button mat-flat-button color="warn" (click)="deleteTicket(ticket.ticketid)"><i class="fas fa-ban"></i></button>

    </div>
    <!--<app-ticket-detail [ticket]="currentTickets"></app-ticket-detail>-->

  </div>

</div>



</div>
<app-footer></app-footer>
