
<div class="wrapper fadeInDown">
  <div id="formContent">
    <div id="formHeader">
    </div>    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <br>
      <img src="../../../assets/male-user (1).png" style="max-height: 120px"/>
      <p>Organizer Register</p>
    </div>

    <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()" class="fadeIn second">
      <mat-form-field appearance="outline">
        <mat-label>NIN / IQAMA</mat-label>
        <input matInput formControlName="id" placeholder="ID">
        <mat-icon matSuffix>assignment</mat-icon>
        <mat-error *ngIf="myReactiveForm.controls.id.invalid&&myReactiveForm.touched.id">Plese Help</mat-error>
      </mat-form-field>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstname" placeholder="First Name">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput
                 placeholder="Lastname"
                 formControlName="lastname">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Pic</mat-label>
          <input matInput
                 placeholder="URL:"
                 formControlName="pic">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>User Name</mat-label>
          <input matInput type="text"
                 name="username" placeholder="Username"
                 formControlName="username">
          <mat-icon matSuffix>person</mat-icon>

        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Birthday</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="birthday">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div >
        <mat-form-field appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select placeholder="Gender" formControlName="gender" >
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email"
                 name="email" placeholder="Email"
                 formControlName="email">
          <mat-icon matSuffix>mail</mat-icon>

        </mat-form-field>
      </div>
      <div>

        <mat-form-field appearance="outline">
          <mat-label>Mobile</mat-label>
          <span matPrefix>+966 &nbsp;</span>
          <input type="tel" matInput placeholder="Mobile" formControlName="mobile">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <!--<input type="submit" class="fadeIn fourth" (click)="onSubmit()" [disabled]="!myReactiveForm.valid"  value="Register">-->
        <input [disabled]="!myReactiveForm" type="submit" class="fadeIn fourth" value="Register">
      </div>
    </form>

    <div id="formFooter">
      <a routerLink="/login" class="underlineHover">Cancel</a>
    </div>

  </div>
</div>
