<app-nav-details></app-nav-details>
<app-nav></app-nav>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<div>



  <!--<div>-->
<!--<div class="container">-->
  <!--<div class="form-group">-->
    <!--<input type="text" class="form-control" [(ngModel)]="term" />-->
  <!--</div>-->
  <!--<div class="container h-100" style="padding-top: 30px">-->
    <!--<div class="d-flex justify-content-center h-100">-->
      <!--<div class="searchbar">-->
        <!--<input  class="search_input" type="text" name="" placeholder="Search..." [(ngModel)]="term" />-->
        <!--<a href="#" class="search_icon"><i class="fas fa-search"></i></a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row" >-->
    <!--<div class="col-lg-4 bordered" *ngFor="let event of events$ | filter:term " (click)="getEvent(event)" >-->

      <!--<div class="thumbnail">-->
        <!--<img src="assets/ABCs-kids.jpg"-->
             <!--alt="" class="img-fluid">-->
        <!--<div class="caption">-->
          <!--<h4 class="float-right">FREE</h4>-->
          <!--<h4><a href="#">{{event.nameevent}}</a></h4>-->
          <!--<p>{{event.description}}</p>-->
        <!--</div>-->
        <!--<div class="ratings">-->
          <!--<p> <span class="glyphicon glyphicon-star"></span>-->
            <!--<span class="glyphicon glyphicon-star"></span>-->
            <!--<span-->
              <!--class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>-->
            <!--<span class="glyphicon glyphicon-star"></span>-->
            <!--<i class="fas fa-male"></i><i class="fas fa-female">   -</i>{{event.genderevent}}/{{event.eventdate}}</p>-->
        <!--</div>-->
        <!--<div class="space-ten"></div>-->
        <!--<div class="btn-ground text-center">-->
          <!--<button class="btn btn-sm " style="background-color: #241F61; color:white" [hidden]="fullBook()" (click)="BookEvent(event.eventid)"><i class="fas fa-ticket-alt"></i> Book</button>-->
          <!--<button class="btn btn-sm" style="background-color: #6A3092; color: white" data-toggle="modal" data-target="#product_view"><i class="fas fa-search"></i>View Details</button>-->
          <!--<button class="btn btn-sm" (click)="getComent(event.comments,event.eventid)">View Comment</button>-->
        <!--</div>-->
        <!--<div class="space-ten"><app-comments-detils [eventid]="eventid" [comments]="currentComments"> </app-comments-detils></div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-7">-->
      <!--<app-comments-detils [eventid]="eventid" [comments]="currentComments"> </app-comments-detils>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="modal fade product_view" id="product_view"  *ngFor="let event of events$" (click)="getEvent(event)" >-->
  <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header" style="background-color: #6A3092"> <a href="#" data-dismiss="modal" class="class float-right"><span class="glyphicon glyphicon-remove"></span></a>-->
        <!--<h3-->
          <!--class="modal-title" style="text-align: center; color: white; padding-right: 46%">{{currentEvents.nameevent}}</h3>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-6 product_img">-->
            <!--<img src="assets/ABCs-kids.jpg"-->
                 <!--class="img-fluid">-->
          <!--</div>-->
          <!--<div class="col-lg-6 product_content" >-->
            <!--<h4>Event ID: <span>{{currentEvents.eventid}}</span></h4>-->
            <!--<div class="rating"> <span class="glyphicon glyphicon-star"></span>-->
              <!--<span class="glyphicon glyphicon-star"></span>-->
              <!--<span-->
                <!--class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>-->
              <!--<span class="glyphicon glyphicon-star"></span>-->
              <!--<h4>Event Capacity: <span>{{currentEvents.capacity}}</span></h4><br>-->
              <!--<h4>Booking Event: <span>{{currentEvents.counter}}</span></h4></div>-->
            <!--<p>{{currentEvents.description}}</p>-->
            <!--<h3 class="cost"><small class="pre-cost"><span class="glyphicon glyphicon-usd"></span> FREE</small></h3>-->
            <!--<h4><i class="fas fa-map-marker-alt"></i>Location:</h4>-->
           <!--<h4>{{currentEvents.eventcity}}/{{currentEvents.eventstreet}}<br>{{currentEvents.eventdate}} {{currentEvents.eventtime}} </h4>-->

            <!--<div class="space-ten"></div>-->
            <!--<div class="btn-ground">-->
              <!--<button class="btn btn-sm " style="background-color: #241F61; color:white"  (click)="BookEvent(event.eventid)"><i class="fas fa-ticket-alt"></i> Book</button>-->
              <!--<button class="btn btn-sm btn-danger"  style="color: white"data-toggle="modal" data-target="#product_view"><i class="fas fa-ban"></i> Cancel</button>-->
              <!--<button class="btn btn-sm" (click)="getComent(event.comments,event.eventid)">View Comment</button>-->
              <!--&lt;!&ndash;<div class="space-ten"><app-comments-detils [eventid]="eventid" [comments]="currentComments.length"> </app-comments-detils></div>&ndash;&gt;-->

            <!--</div>-->
            <!--<div class="space-ten"><app-comments-detils [eventid]="currentEvents.eventid" [comments]="currentComments"> </app-comments-detils></div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->


  <nav class="sidebar" id="sidebar-wrapper">
    <ul id="menu-content" class="menu-content in">

      <!--<div class="form-group">-->
        <!--<input type="text" class="form-control" [(ngModel)]="term" />-->
      <!--</div>-->

      <h3>Type</h3>
      <hr>
      <input #Cars value="Cars" type="checkbox"  (change)="tybeSelect(Cars)" >Cars<br>


      <h3>Gender</h3>
      <input #Female value="Female" type="checkbox"  (change)="gendSelect(Female)" >Female<br>



    </ul>
  </nav>

<div class="container">
  <div class="container h-100" style="padding-top: 30px">
    <div class="container h-100" style="padding-top: 30px">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input  class="search_input" type="text" name="" placeholder="Search..." [(ngModel)]="term" />
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: rgba(106,99,146,0.12); padding: 1% ">
  <h3 class="h1" style="color: rgba(224,153,31,0.83); text-align: center"><i class="fas fa-fire-alt"></i> TRENDING</h3>
    <div class="row">
      <div class="col-md-4 col-sm-3" *ngFor="let event of trending$" (click)="getEvent(event)">
        <div class="product-grid3">
          <div class="product-image3">
            <a>
              <img class="pic-1" src="{{event.pic}}">
              <img class="pic-2" src="{{event.pic}}">
            </a>
            <ul class="social">
              <li><a [routerLink]="['/eventinfo', event.eventid]" class="btn btn-sm"><i class="fas fa-search"></i></a></li>
              <li><a (click)="BookEvent(event.eventid)"><i class="fas fa-ticket-alt"></i></a></li>
              <!--<li><a (click)="getComent(currentEvents.comments,currentEvents.eventid)"><i class="fas fa-ticket-alt"></i></a></li>-->
              <!--<app-comments-detils></app-comments-detils>-->
            </ul>
            <span class="product-new-label">{{event.nameevent}}</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">{{event.genderevent}}</a></h3>
            <div class="price">
              <span>FREE</span>
            </div>
            <ul class="rating">
              <li>{{event.eventcity}}-{{event.eventstreet}}<br>{{event.eventdate}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <!--<div class="modal fade product_view" id="product_view"  *ngFor="let event of events$" (click)="currentEvents" >-->
    <!--<div class="modal-dialog">-->
      <!--<div class="modal-content">-->
        <!--<div class="modal-header" style="background-color: #6A3092"> <a href="#" data-dismiss="modal" class="class float-right"><span class="glyphicon glyphicon-remove"></span></a>-->
          <!--<h3-->
            <!--class="modal-title" style="text-align: center; color: white; padding-right: 46%">{{currentEvents.nameevent}}</h3>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
          <!--<div class="row">-->
            <!--<div class="col-lg-6 product_img">-->
              <!--<img src="assets/ABCs-kids.jpg"-->
                   <!--class="img-fluid">-->
            <!--</div>-->
            <!--<div class="col-lg-6 product_content" >-->
              <!--<h4>Event ID: <span>{{currentEvents.eventid}}</span></h4>-->
              <!--<div class="rating"> <span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span-->
                  <!--class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<h4>Event Capacity: <span>{{currentEvents.capacity}}</span></h4><br>-->
                <!--<h4>Booking Event: <span>{{currentEvents.counter}}</span></h4></div>-->
              <!--<p>{{currentEvents.description}}</p>-->
              <!--<h3 class="cost"><small class="pre-cost"><span class="glyphicon glyphicon-usd"></span> FREE</small></h3>-->
              <!--<h4><i class="fas fa-map-marker-alt"></i>Location:</h4>-->
              <!--<h4>{{currentEvents.eventcity}}/{{currentEvents.eventstreet}}<br>{{currentEvents.eventdate}} {{currentEvents.eventtime}} </h4>-->

              <!--<div class="space-ten"></div>-->
              <!--<div class="btn-ground" >-->
                <!--<button class="btn btn-sm " style="background-color: #241F61; color:white"  (click)="BookEvent(currentEvents.eventid)"><i class="fas fa-ticket-alt"></i> Book</button>-->
                <!--<button class="btn btn-sm btn-danger"  style="color: white"data-toggle="modal" data-target="#product_view"><i class="fas fa-ban"></i> Cancel</button>-->
                <!--<button class="btn btn-sm" (click)="getComent(currentEvents.comments,currentEvents.eventid)">View Comment</button>-->
                <!--&lt;!&ndash;<div class="space-ten"><app-comments-detils [eventid]="eventid" [comments]="currentComments.length"> </app-comments-detils></div>&ndash;&gt;-->

              <!--</div>-->
              <!--<div class="space-ten"><app-comments-detils [eventid]="currentEvents.eventid" [comments]="currentComments"> </app-comments-detils></div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div style="background-color: rgba(106,99,146,0.12); padding: 1% ">
  <h3 class="h3">Events</h3>
  <div class="row" >
    <div class="col-md-6 col-sm-3" *ngFor="let event of events$ |  filter:term " (click)="getEvent(event)">
      <div class="product-grid3">
        <div class="product-image3">
          <a>
            <img class="pic-1" src="{{event.pic}}">
            <img class="pic-2" src="{{event.pic}}">
          </a>
          <ul class="social">
            <li><a [routerLink]="['/eventinfo', event.eventid]" class="btn btn-sm"><i class="fas fa-search"></i></a></li>
            <li><a (click)="BookEvent(event.eventid)"><i class="fas fa-ticket-alt"></i></a></li>

            <!--<div class="space-ten"><app-comments-detils [eventid]="eventid" [comments]="currentComments.length"> </app-comments-detils></div>-->
          </ul>
          <span class="product-new-label">{{event.nameevent}}</span>
        </div>
        <div class="product-content">
          <h3 class="title"><a>{{event.genderevent}}</a></h3>
          <div class="price">
            <span>FREE</span>
          </div>
          <ul class="rating">
            <li>{{event.eventcity}}-{{event.eventstreet}}<br>{{event.eventdate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="modal fade product_view" id="product_view"  *ngFor="let event of events$" (click)="currentEvents" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #6A3092"> <a href="#" data-dismiss="modal" class="class float-right"><span class="glyphicon glyphicon-remove"></span></a>
        <h3
          class="modal-title" style="text-align: center; color: white; padding-right: 46%">{{currentEvents.nameevent}}</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6 product_img">
            <img src="assets/ABCs-kids.jpg"
                 class="img-fluid">
          </div>
          <div class="col-lg-6 product_content" >
            <h4>Event ID: <span>{{currentEvents.eventid}}</span></h4>
            <div class="rating"> <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span
                class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <h4>Event Capacity: <span>{{currentEvents.capacity}}</span></h4><br>
              <h4>Booking Event: <span>{{currentEvents.counter}}</span></h4></div>
            <p>{{currentEvents.description}}</p>
            <h3 class="cost"><small class="pre-cost"><span class="glyphicon glyphicon-usd"></span> FREE</small></h3>
            <h4><i class="fas fa-map-marker-alt"></i>Location:</h4>
            <h4>{{currentEvents.eventcity}}/{{currentEvents.eventstreet}}<br>{{currentEvents.eventdate}} {{currentEvents.eventtime}} </h4>

            <div class="space-ten"></div>
            <div class="btn-ground" >
              <button class="btn btn-sm " style="background-color: #241F61; color:white"  (click)="BookEvent(currentEvents.eventid)"><i class="fas fa-ticket-alt"></i> Book</button>
              <button class="btn btn-sm btn-danger"  style="color: white"data-toggle="modal" data-target="#product_view"><i class="fas fa-ban"></i> Cancel</button>
              <!--<button class="btn btn-sm" (click)="getComent(currentEvents.comments,currentEvents.eventid)">View Comment</button>-->
              <!--<div class="space-ten"><app-comments-detils [eventid]="eventid" [comments]="currentComments.length"> </app-comments-detils></div>-->

            </div>
            <div class="space-ten"><app-comments-detils [eventid]="currentEvents.eventid" [comments]="currentComments"> </app-comments-detils></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>
<app-footer></app-footer>
