<app-nav-details></app-nav-details>
<app-nav></app-nav>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<div>


  <nav class="sidebar" id="sidebar-wrapper">
    <ul id="menu-content" class="menu-content in">


      <!--<h3>Gender</h3>-->
      <!--<hr>-->
      <!--<input value="Family" #Family type="checkbox"  (change)="gendSelect(Family.value)" >Family<br>-->
      <!--<input value="Male" #Male type="checkbox"  ((change)="gendSelect(Male.value)" >Male<br>-->



    </ul>
  </nav>

<div class="container">
  <div class="container h-100" style="padding-top: 30px">
    <div class="container h-100" style="padding-top: 30px">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input  class="search_input" type="text" name="" placeholder="Search..." [(ngModel)]="searchText" />
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: rgba(106,99,146,0.12); padding: 1% " >
  <h3 class="h1" style="color: rgba(224,153,31,0.83); text-align: center"><i class="fas fa-fire-alt"></i> TRENDING</h3>
    <div class="row">
      <div class="col-md-4 col-sm-3" *ngFor="let event of trending$" (click)="getEvent(event)">
        <div class="product-grid3">
          <div class="product-image3">
            <a>
              <img class="pic-1" src="{{event.pic}}">
              <img class="pic-2" src="{{event.pic}}">
            </a>
            <ul class="social">
              <li><a [routerLink]="['/eventinfo', event.eventid]" class="btn btn-sm"><i class="fas fa-search"></i></a></li>
              <li><a (click)="BookEvent(event.eventid)"><i class="fas fa-ticket-alt"></i></a></li>
            </ul>
            <span class="product-new-label">{{event.nameevent}}</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">{{event.genderevent}}</a></h3>
            <div class="price">
              <span>FREE</span>
            </div>
            <ul class="rating">
              <li>{{event.eventcity}}-{{event.eventstreet}}<br>{{event.eventdate}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div style="background-color: rgba(106,99,146,0.12); padding: 1% ">
  <h3 class="h3">Events</h3>
  <div class="row" >
    <div class="col-md-6 col-sm-3" *ngFor="let event of events$ | filter: {nameevent: searchText, genderevent:searchText} ; " (click)="getEvent(event)">


      <div class="product-grid3">
        <div class="product-image3">
          <a>
            <img class="pic-1" src="{{event.pic}}">
            <img class="pic-2" src="{{event.pic}}">
          </a>
          <ul class="social">
            <li><a [routerLink]="['/eventinfo', event.eventid]" class="btn btn-sm"><i class="fas fa-search"></i></a></li>
            <li><a (click)="BookEvent(event.eventid)"><i class="fas fa-ticket-alt"></i></a></li>

            <!--<div class="space-ten"><app-comments-detils [eventid]="eventid" [comments]="currentComments.length"> </app-comments-detils></div>-->
          </ul>
          <span class="product-new-label">{{event.nameevent}}</span>
        </div>
        <div class="product-content">
          <h3 class="title"><a>{{event.genderevent}}</a></h3>
          <div class="price">
            <span>FREE</span>
          </div>
          <ul class="rating">
            <li>{{event.eventcity}}-{{event.eventstreet}}<br>{{event.eventdate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

</div>

</div>
<app-footer></app-footer>
