

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <div class="dropdown">
          <a class="logo" > Welcome {{auth.getFirstName()}}</a>
          <i style="margin-left: 8px" class="fas fa-user"></i>

          <div class="dropdown-content">
            <li *ngIf="user"><a class="nav-link" routerLink="/myticket">My ticket</a></li>
            <li *ngIf="user"><a class="nav-link" routerLink="/mycomments">My comment</a></li>
            <li *ngIf="org"><a class="nav-link" routerLink="/myevent">My event</a></li>
            <li *ngIf="admin"><a class="nav-link " routerLink="/users">Users</a></li>
            <li *ngIf="admin"><a class="nav-link " routerLink="/events">Event List</a></li>
            <li *ngIf="admin"><a class="nav-link " routerLink="/unapproved">Un Active Event</a> </li>
            <li *ngIf="org"><a class="nav-link " routerLink="/addEvent">Add Event</a></li>
            <li><a class="nav-link"  [routerLink]="['/myprofile', auth.getUserId()]">My profile</a></li>
            <hr>
            <li><a class="nav-link" routerLink="/login">Log Out</a></li>

          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
