<!--<div>-->
<!--<h2>Login</h2>-->
<!--<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">-->
<!--<div class="form-group">-->
<!--<label for="username">Username</label>-->
<!--<input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />-->
<!--<div *ngIf="submitted && f.username.errors" class="invalid-feedback">-->
<!--<div *ngIf="f.username.errors.required">Username is required</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="password">Password</label>-->
<!--<input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />-->
<!--<div *ngIf="submitted && f.password.errors" class="invalid-feedback">-->
<!--<div *ngIf="f.password.errors.required">Password is required</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button [disabled]="loading" class="btn btn-primary">Login</button>-->
<!--<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
<!--</div>-->
<!--<div *ngIf="error" class="alert alert-danger">{{error}}-->
<!--<div class="alert alert-danger" role="alert">-->
<!--User Not Found!!!-->
<!--</div></div>-->
<!--</form>-->
<!--</div>-->


<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <div id="formHeader">
    </div>    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <br>
      <img src="../../assets/khaaliiiiid.png" style="max-height: 120px"/>
      <p>Event Management</p>
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput type="text" formControlName="username" class="fadeIn second" placeholder="Username">
        <mat-error>
          <small *ngIf="!loginForm.controls.username.valid && !loginForm.controls.username.untouched">User name Is Required</small>
        </mat-error>
      </mat-form-field>
    <div>
      <!--<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>-->
      <mat-form-field>

      <input matInput formControlName="password" class="fadeIn third" placeholder="Password"
             type="password">
      <!--<div *ngIf="submitted && f.password.errors" class="invalid-feedback">-->
      <!--</div>-->
        <mat-error *ngIf="!loginForm.controls.password.valid && !loginForm.controls.password.untouched" >Password is required</mat-error>
      </mat-form-field>


    </div>
    <div>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </div>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a routerLink="/attender" class="underlineHover" >Register User?</a>  :
      <a routerLink="/orgregister" class="underlineHover" >Register Org?</a>
    </div>

  </div>
</div>
