<div class="wrapper fadeInDown">
  <div id="formContent">
    <div id="formHeader">
    </div>
    <div class="fadeIn first">
      <br>
      <img src="../../../assets/male-user (1).png" style="max-height: 120px"/>
      <p>User Register</p>
    </div>

    <!-- Login Form -->
    <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()" class="fadeIn second">
      <mat-form-field>
        <input matInput type="text" formControlName="id" placeholder="ID">
        <mat-error *ngIf="myReactiveForm.controls.id.invalid&&myReactiveForm.touched.id">Plese Help</mat-error>
      </mat-form-field>
      <div>
        <mat-form-field>
          <input matInput type="text"
                 formControlName="firstname" placeholder="First Name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text"
                 name="lastname" placeholder="Lastname"
                 formControlName="lastname">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text"
                 name="username" placeholder="Username"
                 formControlName="username">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput formControlName="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide"></mat-icon>
        </mat-form-field>
      </div>
      <!--<div>-->
      <!--<mat-form-field>-->
      <!--<input matInput type="text" class="fadeIn fourth"-->
             <!--name="confirm" placeholder="Confirm Password"-->
             <!--formControlName="confirm">-->
      <!--</mat-form-field>-->
      <!--</div>-->
      <div>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="birthday">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
      </div>
      <div >
      <mat-form-field>
      <mat-select placeholder="Gender" formControlName="gender" >
      <mat-option value="Male">Male</mat-option>
      <mat-option value="Female">Female</mat-option>
      </mat-select>
      </mat-form-field>
      </div>
      <div>
      <mat-form-field>
      <input matInput type="email"
             name="email" placeholder="Email"
             formControlName="email">
      </mat-form-field>
      </div>
      <div>
      <mat-form-field>
      <input matInput type="text"
             name="mobile" placeholder="Mobile"
             formControlName="mobile">
      </mat-form-field>
      </div>
      <div>
        <!--<input type="submit" class="fadeIn fourth" (click)="onSubmit()" [disabled]="!myReactiveForm.valid"  value="Register">-->
        <input [disabled]="!myReactiveForm" type="submit" class="fadeIn fourth" value="Register">
      </div>
    </form>

    <div id="formFooter">
      <a routerLink="/login" class="underlineHover">Cancel</a>
    </div>

  </div>
</div>
