<app-nav-details></app-nav-details>
<app-nav></app-nav>



<body class="hm-gradient">

<main>

  <div class="row" >
    <div class="container mt-4">



      <div class="card mb-3 offset-sm-0">
        <div class="card-body">
          <table class="table table-hover">
            <thead class="mdb-color">
            <tr class="text-white" style="background-color: #241F61">
              <th>#</th>
              <th>Event Name</th>
              <th>Type Event</th>
              <th>Gender Event</th>
              <th>Event Street</th>
              <th>City</th>
              <th>Date</th>
              <th>Time</th>
              <th>Capacity</th>
              <!--<td>Organizer</td>-->
              <th>Booking</th>
            </tr>
            </thead>
            <tbody *ngFor="let event of events$ " (click)="getEvent(event)">
            <tr >
              <td>{{event.eventid}}</td>
              <td>{{event.nameevent}}</td>
              <td>{{event.tybeevent}}</td>
              <td>{{event.genderevent}}</td>
              <td>{{event.eventstreet}}</td>
              <td>{{event.eventcity}}</td>
              <td>{{event.eventdate}}</td>
              <td>{{event.eventtime}}</td>
              <td>{{event.capacity}}</td>
              <!--<td>{{event.OrgnizerID.username}}</td>-->
              <td><meter value="{{event.counter}}"  min="0" max="{{event.capacity}}"></meter></td>

            </tr>
            </tbody>
          </table>
        </div>

      </div>

      <app-event-detail [event]="currentEvents"></app-event-detail>

    </div>

  </div>
</main>

</body>


