<app-nav-details></app-nav-details>
<app-nav></app-nav>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<body class="hm-gradient">

<main>

  <div class="row" >
  <div class="container mt-4">



    <div class="card mb-4">
      <div class="card-body">
        <table class="table table-hover">
          <thead class="mdb-color darken-3">
          <tr class="text-white" style="background-color: #241F61">
            <th>#</th>
            <th>Event Name</th>
            <th>Type Event</th>
            <th>Gender Event</th>
            <th>Event Street</th>
            <th>City</th>
            <th>Date</th>
            <th>Time</th>
            <th>Capacity</th>
            <th>Booking</th>
            <!--<td>Organizer</td>-->
          </tr>
          </thead>
          <tbody *ngFor="let event of events$ " (click)="getEvent(event)">
          <tr >
            <td>{{event.eventid}}</td>
            <td>{{event.nameevent}}</td>
            <td>{{event.tybeevent}}</td>
            <td>{{event.genderevent}}</td>
            <td>{{event.eventstreet}}</td>
            <td>{{event.eventcity}}</td>
            <td>{{event.eventdate}}</td>
            <td>{{event.eventtime}}</td>
            <td>{{event.capacity}}</td>
            <td>{{event.counter}}</td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <app-event-detail [event]="currentEvents"></app-event-detail>


  </div>

  </div>
</main>

</body>

