<app-nav-details></app-nav-details>
<app-nav></app-nav>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<div class="wrapper fadeInDown">
  <div id="formContent">
    <div id="formHeader">
    </div>
    <div class="fadeIn first">
      <br>
      <img src="assets/Group 1 copy.png" style="max-height: 120px"/>
      <p>Add Event</p>
    </div>

    <!-- Login Form -->
    <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()" class="fadeIn second">
      <mat-form-field>
        <input matInput type="text" formControlName="nameevent" placeholder="Event Name">
        <!--<mat-error *ngIf="myReactiveForm.controls.id.invalid&&myReactiveForm.touched.id">Plese Help</mat-error>-->
      </mat-form-field>
      <div>
        <mat-form-field>
          <input matInput type="text"
                 formControlName="tybeevent" placeholder="Type Event">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select placeholder="Gender" formControlName="genderevent" >
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
            <mat-option value="Family">Family</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text"
                 name="eventstreet" placeholder="Event Street"
                 formControlName="eventstreet">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text"
                 name="eventcity" placeholder="Event City"
                 formControlName="eventcity">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="eventdate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text"
                 name="eventtime" placeholder="Event Time"
                 formControlName="eventtime">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text"
                 name="description" placeholder="Description"
                 formControlName="description">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text"
                 name="capacity" placeholder="Capacity"
                 formControlName="capacity">
        </mat-form-field>
      </div>

      <div>
        <input [disabled]="!myReactiveForm" type="submit" class="fadeIn fourth" value="Add Event">
      </div>
    </form>
  </div>
</div>

