<app-nav-details></app-nav-details>
<app-nav></app-nav>
<div class="bimg">
<div class="container">
  <div class="row">
    <div class="banner-text">
      <h1 style="font-size: 5vw;" id="title-lens">Welcome</h1><br>
      <h1 style="font-size: 5vw;" id="title-lens">{{auth.getFirstName()}}<br> {{auth.getLastName()}}</h1><br>
      <h1 style="font-size: 5vw;"id="title-lens">To The</h1><br>
      <h1 style="font-size: 5vw;" id="title-lens">New</h1><br>
      <h2 style="font-size: 3vw;" id="subtitle">Event WebSite</h2>
    </div>
  </div>
  <div class="container">
    <h1 class="h3" style="width: 100%; margin-bottom: 25px">New Events</h1>
    <div class="row">
      <div class="col-md-4 col-sm-6" style="margin-bottom: 22px" *ngFor="let event of events$">
        <div class="product-grid4">
          <div class="product-image4">
            <a>
              <img style="width: 400px; height: 250px" class="pic-1" src="{{event.pic}}">
              <img style="width: 400px; height: 250px" class="pic-2" src="{{event.pic}}">
            </a>
            <ul class="social">
              <li><a [routerLink]="['/eventinfo', event.eventid]" data-tip="See Information"><i class="fas fa-search"></i></a></li>
            </ul>
            <span class="product-new-label">New</span>
            <span class="product-discount-label">{{event.tybeevent}}</span>

          </div>
          <div class="product-content" style="background-color: white">

            <ul style="color: #6A3092">
                <span class="kh"><i class="fas fa-map-marker-alt"></i> {{event.eventcity}}</span>
              <i class="fas fa-calendar-alt"></i> {{event.eventdate}}
            </ul>


          </div>
        </div>

      </div>

    </div>
    <button routerLink="/activeEvent" mat-raised-button color="primary" style="width: 40%; margin-left: 30%; margin-bottom: 3%">See More Events</button>

  </div>
</div>
</div>


<div style="background-color: white; width: auto">
<div class="container text-center">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="service-heading-block">
        <div class="mar">
        <!--<h2 class="text-center text-primary title"> </h2>-->
          <div class="text-primary title"><h4>How To Works :)</h4></div>
          <hr class="my-1">

          <p class="text-center sub-title">Short Steps For,<span class="text-primary">Book Event.</span></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="feature-block">
        <span class="badge badge-primary">#1</span>

        <span class="fb-icon color-info">
                  <i class="far fa-eye" aria-hidden="true"></i>
        </span>

        <h4>View Events</h4>
        <!--<span class="badge badge-primary">#1</span>-->

      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="feature-block">
        <span class="badge badge-primary">#2</span>

        <span class="fb-icon color-info">
                  <!--<i class="far fa-eye" aria-hidden="true"></i>-->
                  <i class="fas fa-search" aria-hidden="true"></i>
        </span>

        <h4>See Event Details</h4>
        <!--<span class="badge badge-primary">#1</span>-->

      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="feature-block">
        <span class="badge badge-primary">#3</span>

        <span class="fb-icon color-info">
                  <i class="fas fa-ticket-alt" aria-hidden="true"></i>
        </span>

        <h4>Book Your Ticket</h4>
        <!--<span class="badge badge-primary">#1</span>-->

      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="feature-block">
        <span class="badge badge-primary">#4</span>

        <span class="fb-icon color-info">
                  <!--<i class="far fa-eye" aria-hidden="true"></i>-->
                  <i class="fas fa-grin-hearts" aria-hidden="true"></i>
        </span>

        <h4>Be Ready !</h4>
        <!--<span class="badge badge-primary">#1</span>-->

      </div>
    </div>
  </div>

</div>
</div>
<app-footer></app-footer>
