<app-nav-details></app-nav-details>
<app-nav></app-nav>
<div class="bimg">
<div class="container">
  <div class="row">
    <div class="banner-text">
      <h1 style="font-size: 5vw;" id="title-lens">Welcome</h1><br>
      <h1 style="font-size: 5vw;" id="title-lens">{{auth.getFirstName()}}<br> {{auth.getLastName()}}</h1><br>
      <h1 style="font-size: 5vw;"id="title-lens">To The</h1><br>
      <h1 style="font-size: 5vw;" id="title-lens">New</h1><br>
      <h2 style="font-size: 3vw;" id="subtitle">Event WebSite</h2>
    </div>
  </div>
  <div class="container">
    <h1 class="h3" style="width: 100%; margin-bottom: 10px">New Events</h1>
    <div class="row">
      <div class="col-md-4 col-sm-6" style="margin-bottom: 22px" *ngFor="let event of events$">
        <div class="product-grid4">
          <div class="product-image4">
            <a href="#">
              <img class="pic-1" src="assets/ev.png">
              <img class="pic-2" src="assets/ev.png">
            </a>
            <ul class="social">
              <li><a routerLink="/activeEvent" data-tip="See Information"><i class="fas fa-search"></i></a></li>
            </ul>
            <span class="product-new-label">New</span>
            <span class="product-discount-label">{{event.tybeevent}}</span>

          </div>
          <div class="product-content" style="background-color: #dddddd">
            <h3 class="title">{{event.nameevent}}</h3>
            <h3 class="title">Event NUM:{{event.eventid}}</h3>
            <!--<script>-->
              <!--var items = document.querySelectorAll("#list"),-->
                <!--tap = [];-->

              <!--for (var i = 0; i < items.length; i++){-->
                <!--tap.push(items[i].innerHTML)-->
              <!--}-->

              <!--document.getElementById("list").innerHTML = "";-->
              <!--var list = document.getElementById("list");-->
              <!--tap.reverse()-->
              <!--for (var i = 0; i < tap.length; i++){-->
                <!--var textNode = document.createTextNode(tap[i]),-->
                  <!--liNode = document.createElement("li");-->
                <!--liNode.appendChild(textNode);-->
                <!--list.appendChild(liNode);-->

              <!--}-->
            <!--</script>-->
            <div class="price">
              FREE
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--<div class="container">-->
  <!--<h3 class="h3" style="text-align: center">New Events</h3>-->
  <!--<div class="row">-->
    <!--<div class="col-md-4 col-sm-6" *ngFor="let event of events$" (click)="getEvent(event)">-->
      <!--<div class="product-grid4">-->
        <!--<div class="product-image4">-->
          <!--<a href="#">-->
            <!--<img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo5/images/img-1.jpg">-->
            <!--<img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo5/images/img-2.jpg">-->
          <!--</a>-->
          <!--<ul class="social">-->
            <!--<li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>-->
            <!--<li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>-->
            <!--<li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>-->
          <!--</ul>-->
          <!--<span class="product-new-label">New</span>-->
          <!--<span class="product-discount-label">{{event.tybeevent}}</span>-->

        <!--</div>-->
        <!--<div class="product-content">-->
          <!--<h3 class="title"><a href="#">{{event.nameevent}}</a></h3>-->
          <!--<div class="price">-->
            <!--$14.40-->
            <!--<span>$16.00</span>-->
          <!--</div>-->
          <!--<a class="add-to-cart" href="">ADD TO CART</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->





<div style="background-color: white; width: auto">
<div class="container text-center">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="service-heading-block">
        <div class="mar">
        <!--<h2 class="text-center text-primary title"> </h2>-->
          <div class="text-primary title"><h4>How To Works :)</h4></div>
          <hr class="my-1">

          <p class="text-center sub-title">Short Steps For,<span class="text-primary">Book Event.</span></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="feature-block">
        <span class="badge badge-primary">#1</span>

        <span class="fb-icon color-info">
                  <i class="far fa-eye" aria-hidden="true"></i>
        </span>

        <h4>View Events</h4>
        <!--<span class="badge badge-primary">#1</span>-->

      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="feature-block">
        <span class="badge badge-primary">#2</span>

        <span class="fb-icon color-info">
                  <!--<i class="far fa-eye" aria-hidden="true"></i>-->
                  <i class="fas fa-search" aria-hidden="true"></i>
        </span>

        <h4>See Event Details</h4>
        <!--<span class="badge badge-primary">#1</span>-->

      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="feature-block">
        <span class="badge badge-primary">#3</span>

        <span class="fb-icon color-info">
                  <i class="fas fa-ticket-alt" aria-hidden="true"></i>
        </span>

        <h4>Book Your Ticket</h4>
        <!--<span class="badge badge-primary">#1</span>-->

      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="feature-block">
        <span class="badge badge-primary">#4</span>

        <span class="fb-icon color-info">
                  <!--<i class="far fa-eye" aria-hidden="true"></i>-->
                  <i class="fas fa-grin-hearts" aria-hidden="true"></i>
        </span>

        <h4>Be Ready !</h4>
        <!--<span class="badge badge-primary">#1</span>-->

      </div>
    </div>
  </div>

</div>
</div>
<app-footer></app-footer>
